<div class="footer">
  <div class="footer-links">
    <a href="#" tabindex="0" role="button" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus">Contact</a>

  </div>
</div>

<div id="popover_content_wrapper" style="display: none">
    <p>This is your p content</p>
</div>
