<div class="footer">
  <div class="footer-links">
    <a href="#" type="button" data-container="body" data-toggle="popover" data-placement="top" id="contact"  data-html="true" data-content="14, place Thorn <br /> L-2637 Luxembourg <br /> Tel : +352 621 334 111 <br />  info@eliacin.lu">
      Contact
    </a>
  </div>
</div>

