  <div class="partners">
    <a href="http://www.spallian.com" target="blank">
      <img src="../images/spallian.png" alt="" class="image">
    </a>
    <a href="http://cognityk.com" target="blank">
      <img src="../images/cognityk.png" alt="" id="image-cognitik">
    </a>
    <a href="http://www.syment.com" target="blank">
      <img src="../images/syment.jpg" alt="" class="image">
    </a>
    <a href="https://www.vivoka.com/?lang=fr" target="blank">
      <img src="../images/zac.png" alt="" id="image-zac">
    </a>
    <a href="https://climateactionblockchain.wordpress.com/" target="blank">
    <img src="../images/block.png" alt="" id="block">
    </a>
  </div>
</div>
