  <div class="partners">
      <a href="http://www.spallian.com">
        <img src="../images/spallian.png" alt="" class="image">
      </a>
      <a href="http://cognityk.com">
        <img src="../images/cognityk.png" alt="" class="image">
      </a>
      <a href="http://www.syment.com">
        <img src="../images/syment.png" alt="" class="image">
      </a>
      <br>
      <a href="https://www.vivoka.com/?lang=fr">
        <img src="../images/zac.png" alt="" id="image-zac">
      </a>
    </div>
  </div>
