a {
  text-decoration: none;
  color: black;
  &:hover{
    text-decoration: none;
    color: black;
  }
}

#image-zac {
  width: 120px;
  padding: 10px;
  &:hover{
    opacity: 1;
  }
}

#image-cognitik{
  width: 300px;
  padding: 10px;
  &:hover{
    opacity: 1;
  }
}

#block {
  width: 120px;
  padding: 10px;
  &:hover{
    opacity: 1;
  }
}

.logo-syment {
  padding-top: 0px !important;
  margin-bottom: -17px !important;
}

.image {
  width: 320px;
  padding: 10px;
  margin-bottom: 30px;
  &:hover{
    opacity: 1;
  }
}

#partners {
  background-color: white;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px 100px;
  .mobile {
    display:none;
  }
}

.partner-card {
  height: 425px;
  border: 1px solid dimgray;
  margin-top: 100px;
  background: white;
  &:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -5px) scale(1.05);
  }
}

.description-partner-card {
  padding: 20px;
  text-align: justify;
}

.partner-separator {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1.5px solid #eeeeee;
  width: 80%;
}

#title-syment {
  margin-bottom: 28px;
}

.logo-partner-card {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

@media (max-width: 1240px) {

  .description-partner-card {
    font-size: 14px;
  }

  .image {
    width: 220px;
  }
  #image-cognitik {
    width: 214px;
  }
  .logo-syment {
    width: 253px
  }
  #title-syment {
    margin-bottom: 43px;
  }
}

@media (max-width: 1040px) {

  .logo-syment {
    width: 100%;
    margin-top: 5px;
  }
}


@media (max-width: 790px) {
  .description-partner-card {
    font-size: 16px;
  }
  .logo-syment {
    margin: auto;
    width: 80%;
    margin-top: 3px;
  }

}

@media (max-width: 690px) {
  #partners {
    margin-top: 358px
  }
  .presentation-summary {
    height: 93vh !important;
  }

}


@media (max-width: 590px) {
  #partners {
    margin-top: 400px;
  }

  #image-zac, #block {
    margin-bottom: 0px;
  }

  .description-partner-card {
    font-size: 14px;
  }

}

@media (max-width: 550px) {

  .presentation-summary {
    height: 112vh !important;
  }

  #partners {
    margin-top: 600px;
  }

}

