#image-zac {
  width: 90px;
  padding: 10px;
  opacity: 0.6;
  &:hover{
    opacity: 1;
  }
}

.image {
  width: 120px;
  padding: 10px;
  opacity: 0.6;
  &:hover{
    opacity: 1;
  }
}

.partners {
  background-color: white;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px 100px;
  .mobile {
    display:none;
  }
}

@media (max-width: 650px) {
  .partners {
    padding: 10px 0px !important;
  }
  #image-zac {
    width: 60px !important;
  }
  .image {
    width: 80px !important;
  }
}
