---
title: Eliacin
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo1.png", id: "logo" %>
    <h3>
      Eliacin sarl
    </h3>
    <h1>
       Real Estate & Proptech
    </h1>
  </div>
</div>
