---
title: Eliacin
---

<div class="home">
  <div class="home-content">
    <h1>
      Eliacin sarl
    </h1>
    <%= image_tag "logo1.png", id: "logo" %>
    <h1 class="computer">
     Real Estate | Proptech <span class="mobile"> | </span>Finance
   </h1>
 </div>
</div>
